fichero{background-color:gray}
ficha {background-color:red; display:block;}
nombre{color:white; display: inline;} 
apellido{color:yellow; display: inline;}
direccion {color: yellow; font-size: 1 cm; display: none;}
segunda{background-color:green }
telefono{color:black; display: inline;}
email{color:lightblue; display: inline;}